scratch
.zig-cache
main.dSYM

build_output

db/portfolio.db

zig-out

test_real_values

gui/build

.vs
.cache
build_output_clangd
__cmake_systeminformation
install
ledger

backup-before-rewrite.bundle
compile_commands.json
build_output_2019_tmp
**/build/
scripts/certs
